body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  min-width: 600px;
  margin: 7% auto;
  padding: 5% 0;
  font-family: "Lato",  Arial, sans-serif;
  background-color: fuchsia;
  border-radius: 10px;
}

.input {
  display: block;
  width: 85%;
  margin: 0 auto 2%;
  padding: 20px;
  font-size: 18px;
  color: rgb(0, 0, 0);
  background: rgba(207, 203, 203, 0.8);
  border-radius: 5px;
  box-shadow: 4px 5px 5px #690606;
  resize: none;
}

.keyboard {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.key {
  width: 6.2%;
  margin-bottom: 0.5%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  border: 1px solid  rgba(0, 0, 0, 0.6);
  box-shadow: 4px 5px 5px #690606;
  font-weight: 500;
  line-height: 2.2rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: border-radius 0.4s ease 0s, background-color 0.4s ease 0s;
}

.key:hover {
  background:rgb(126, 86, 113);
}

.key:focus {
  outline: none;
}

.backspace {
  width: 15.5%;
  background: rgba(0, 0, 0, 0.6);
}

.tab {
  width: 8.5%;
  background: rgba(0, 0, 0, 0.6);
}

.del {
  width: 6.6%;
  background: rgba(0, 0, 0, 0.6);
}

.capsLock {
  width: 14.05%;
  background: rgba(0, 0, 0, 0.6);
}

.enter {
  width: 14.05%;
  background: rgba(0, 0, 0, 0.6);
}

.shift_left {
  width: 15.55%;
  background: rgba(0, 0, 0, 0.6);
}

.shift_right {
  width: 12.55%;
  background: rgba(0, 0, 0, 0.6);
}

.arrow_up,
.arrow_down,
.arrow_left,
.arrow_right {
  background: rgba(0, 0, 0, 0.7);
}

.alt_left,
.alt_right,
.control_left,
.control_right,
.meta_left {
  background: rgba(0, 0, 0, 0.6);
}

.space {
  width: 48.0%;
}

.key:active,
.active {
  background:rgb(126, 86, 113);
  border-radius: 20px;
  border: 1px solid  rgba(0, 0, 0, 1.0);
  font-weight: 700;
  transition: border-radius 0.1s ease 0s, background 0.1s ease 0s, font-weight 0.1s ease 0s;
}

.notes {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-align: center;
}

